<div class="container">
<% if @rest_new.errors.any? %>
  <%= @rest_new.errors.count %>件のエラーが発生しました
  <ul>
    <% @rest_new.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<% if customer_signed_in? %>
<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render "public/rests/form", rest: @rest_new %>
    </div>
    <div class="col-8">
      <h2>gmap</h2>
      <input id="address" type="textbox" value="GeekSalon">
      <input type="button" value="Encode" onclick="codeAddress()">
      <div id="display">何かが表示される、、、、！</div>
      <div id='map'></div>
      
      <style>
      #map {
        height: 500px;
        width: 500px;
      }
      </style>
      
      <script>
      let map
      // let geocoder#

      const display = document.getElementById('display')
      
      function initMap(){
        geocoder = new google.maps.Geocoder()
      
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40.7828, lng:-73.9653},
          zoom: 12,
        });
      
        marker = new google.maps.Marker({
          position:  {lat: 40.7828, lng:-73.9653},
          map: map
        });
      }
      
      let geocoder
      
      function codeAddress(){
        let inputAddress = document.getElementById('address').value;
      
        geocoder.geocode( { 'address': inputAddress}, function(results, status) {
          if (status == 'OK') {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
            display.textContent = "検索結果：" + results[ 0 ].geometry.location
          } else {
            alert('該当する結果がありませんでした：' + status);
          }
        });
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWCa5GDZBE09G610gyGsIi4akQup_x7qQ&callback=initMap" async defer></script>
    </div>
  </div>
</div>
<% else %>
<% end %>