<div class="container">
    <div class='row justify-content-center mx-auto'>
        <div class="notice_box col-lg-4 col-">
            <h4 class="text-center"><i class="fas fa-bell"></i>通知</h4>
            <p class="text-center"></p>
             <p class="text-right"><i class="fas fa-trash"></i><%= link_to "全削除",notice_path(@notices), method: :delete,class:"btn btn-light" %></p>
                <% notices = @notices.where.not(send_id: current_customer.id) %>
        <% if @notices.exists? %>
            <% @notices.each do |notice| %>
                <%= render partial: "notice",locals:{notice: notice} %>
            <% end %>
        <% else %>
            <p class="text-center">通知はありません</p>
        <% end %>
　　　　</div>
 　　</div>
</div>


