<% if object.errors.any? %>
<div class="alert alert-danger" role="alert" id="error_explanation">
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li class="list-unstyled text-center"><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>