<% if object.errors.any? %>
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading text-center">エラーを修正してください</h4>
    <% object.errors.full_messages.each do |message| %>
      <li class="list-unstyled text-center"><%= message %></li>
    <% end %>
</div>
<% end %>